.foo {} /* W3C CSS validator likes CSS files to start with a class rather than a comment. Soooooo.... */

/* This style sheet is intended to contain OFTEN CHANGED rules used when the GridView control adapter is enabled. */
/* Empty rules are provided merely as a convenience for your future use or experimentation. */

.PrettyGridView .AspNet-GridView 
{
    width: 100%; 
    background-color: #fff; 
    margin: 0px 0 0px 0; 
    border-collapse:collapse; 
}


.PrettyGridView .AspNet-GridView div.AspNet-GridView-Pagination
{
    border:0; margin:0; padding:0; font-size:10px;
}
.PrettyGridView .AspNet-GridView div.AspNet-GridView-Pagination a
{
    /*background: #424242 url(Images/grd_pgr.png) repeat-x top;*/
    border:solid 1px #DEDEDE; margin-right:2px;
    display:inline-block; padding:3px 6px; text-decoration:none;
}
.PrettyGridView .AspNet-GridView div.AspNet-GridView-Pagination span
{
    color: #666; text-decoration: none;
}

.PrettyGridView .AspNet-GridView div.AspNet-GridView-Top
{
}

.PrettyGridView .AspNet-GridView div.AspNet-GridView-Bottom
{
	padding: 6px;
	border-top: 1px solid #CCC;
	color: #666;
	border-bottom: none !important;
	background: none !important;
}

.PrettyGridView .AspNet-GridView table
{
    /*border: solid 1px #CECFCE;*/
    
}

.PrettyGridView .AspNet-GridView table thead tr th
{
	/*font-size: 92.308%;
	font-weight: bold;
	padding: 4px;
	background: #EFEFEF;
	border-top: 1px solid #FFF;
	color: #333;
	text-align: left;*/
	
	background-image: url(bg.png);
	background-repeat: repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-top: 1px solid #FFF;
	border-bottom: none;
	padding-left: 3px;
	padding-top: 4px;
	height: auto;
	cursor: pointer; 
	cursor: hand;
	text-align: left;
    
}

.PrettyGridView .AspNet-GridView table thead tr th a
{
    color: #FFFFFF;
}


.PrettyGridView .AspNet-GridView table tbody tr td
{
	padding: 4px;
	background: none; 
	border-top: 1px solid #CCC;
	color: #666;
	border-bottom: none !important;
	border-right:1px solid #F3F3F3;
  
}

.PrettyGridView .AspNet-GridView table tbody tr:hover td,
.PrettyGridView .AspNet-GridView table tbody tr.AspNet-GridView-Alternate:hover td
{
   	background: #C8DBDE; /* Màu background line Grid */
	color: #CC0000;
}

.PrettyGridView .AspNet-GridView table tbody tr.AspNet-GridView-Alternate td
{
    /*background: #fcfcfc url(Images/grd_alt.png) repeat-x top;*/
    padding: 4px;
	background: none; 
	border-top: 1px solid #CCC;
	color: #666;
	border-bottom: none !important;
	border-right:1px solid #F3F3F3;
}

.PrettyGridView .AspNet-GridView table tbody tr.AspNet-GridView-Selected td
{
    
    background: #C6E3FF;
    text-align: left;
}

.PrettyGridView .AspNet-GridView table tfoot tr td
{

    padding: 6px;
    border-top: 1px solid #CCC;
    background-color: #FFF4F3;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

